pip==23.3
aiodns==3.1.1
aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.0.0
async-timeout==4.0.3
attrs==19.2.0
beautifulsoup4==4.12.2
better-instagram==0.0.1
blinker==1.6.3
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
DarlingVip-Instagram==0.0.1
discord.py==2.3.2
ensta==4.6
fake-useragent==1.3.0
Flask==3.0.0
frozenlist==1.4.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ig-profile==1.0
insta-meter==0.0.2
instabasic==0.1.7
InstagramGraphQL==1.0.11
instaloader==4.10
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
maxminddb==2.4.0
multidict==6.0.4
my-fake-useragent==0.2.1
names==0.3.0
outcome==1.2.0
packaging==23.2
Pillow==10.1.0
pinsta==3.0
proxybroker==0.3.2
py-random-useragent==0.1.4
pycares==4.4.0
pycparser==2.21
PySocks==1.7.1
pyTelegramBotAPI==4.14.0
python-decouple==3.8
python-dotenv==1.0.0
requests==2.31.0
rfc3986==1.5.0
selenium==4.14.0
SmoothAPI==1.0.3
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
telebot==0.0.5
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
urllib3==2.0.6
webdriver-manager==4.0.1
Werkzeug==3.0.0
wsproto==1.2.0
yarl==1.9.2
